:root {
  font-size: 62.5%;
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
  --height-nav: 8rem;
  --height-menu: 25.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--body-background);
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 1.6rem;
  overflow: overlay;
  scroll-behavior: smooth;
}

section {
  padding-top: 9rem;
}

section .text p {
  font-size: 1.6rem;
  line-height: 150%;
}

ul li {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
  line-height: 150%;
  padding-top: 6rem;
}

.wrapper {
  /* Usado no header e nav */
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  position: relative;
}

.connect-button {
  padding: 1.4rem 3rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;

  margin: 6rem auto;
}

.logo {
  width: 17rem;
}

.logo,
.open-menu,
.close-menu {
  cursor: pointer;
}

.close-menu {
  position: relative;
  width: 4rem;
  height: 4rem;
  background: var(--body-background);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.5s, background 0.5s;
}

.scroll-on .close-menu {
  background: var(--color-logo);
  transition: 0.5s;
}

.close-menu::before {
  position: absolute;
  content: '';
  width: 60%;
  height: 0.3rem;
  background: var(--color-logo);
  box-shadow: 0 1rem var(--color-logo);
  transform: translateY(-1rem);
  transition: 0.5s;
}

.close-menu.active::before {
  box-shadow: 0 0 var(--color-logo);
  transform: translateY(0) rotate(45deg);
}

.scroll-on .close-menu::before,
.menu-expanded .close-menu::before {
  box-shadow: 0 1rem var(--text-color);
  background: var(--text-color);
}

.scroll-on .close-menu.active::before,
.menu-expanded .close-menu.active::before {
  /* Corrigindo a transição do box-shadow */
  box-shadow: 0 0rem var(--text-color);
}

.scroll-on .close-menu::after,
.menu-expanded .close-menu::after {
  background: var(--text-color);
}

.close-menu::after {
  position: absolute;
  content: '';
  width: 60%;
  height: 0.3rem;
  background: var(--color-logo);
  transform: translateY(1rem);
  transition: 0.5s;
}

.close-menu.active::after {
  transform: rotate(-45deg);
}

.menu-expanded .close-menu {
  background: var(--color-logo);
}

/* --------------Navigation---------------- */
@keyframes animateBottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animateTopToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#navigation {
  background-color: var(--body-background);
  transition: 0.5s;
}

#navigation .content-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

#navigation .menu {
  /* estado inicial */
  display: none;
  position: relative;
}

#navigation .logo path[fill='white'] {
  /* rockets */
  fill: var(--subtitle-color);
  transition: 1s;
}

#navigation .logo path:nth-child(2)[fill='#FF5B50'] {
  fill: var(--color-logo);
  transition: 1s;
}

#navigation .open-menu path {
  /* button */
  stroke: var(--color-logo);
  transition: 1s;
}

.slider {
  display: none;
}
/* -------------menu mobile------------ */
.menu-expanded #navigation {
  background: var(--color-logo);
  animation-name: animateTopToBottom;
  animation-duration: 0.5s;
}

.scroll-on #navigation::before,
.menu-expanded #navigation::before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  z-index: 11;
  bottom: 0;
  background-color: var(--body-background);
}

.menu-expanded #navigation .menu {
  position: fixed;
  top: 8rem;
  left: 0;

  width: 100%;
  height: 100vh;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  animation-name: animateBottomToTop;
  animation-duration: 0.5s;
}

.scroll-on #navigation,
.menu-expanded #navigation .menu {
  background: var(--color-logo);
}

.scroll-on #navigation .logo path:nth-child(2)[fill='#FF5B50'] {
  /* nfts */
  fill: var(--card-color);
}

.scroll-on #navigation .logo path[fill='white'],
.menu-expanded #navigation .logo path[fill='white'] {
  /* rocket */
  fill: var(--text-color);
}

.menu-expanded #navigation .logo path:nth-child(2)[fill='#FF5B50'] {
  /* nfts */
  fill: var(--card-color);
}

.scroll-on #navigation .open-menu path,
.menu-expanded #navigation .open-menu path {
  /* menu */
  stroke: var(--text-color);
}

.menu-expanded #navigation,
.scroll-on #navigation {
  position: relative;

  position: fixed;
  width: 100%;
  z-index: 10;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded #navigation:not(*) {
  display: none;
}

ion-icon {
  font-size: 2.8rem;
}

.menu-expanded #navigation .menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-expanded #navigation .menu ul:nth-child(1) li {
  padding: 1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu-expanded #navigation .menu ul li:hover {
  background: var(--card-color);
  box-shadow: 3px 5px 6px var(--subtitle-color);
  border-radius: 0.8rem;
}

.menu-expanded #navigation .menu ul li a {
  font-weight: 700;
  color: var(--text-color);

  text-decoration: none;
  font-size: 1.8rem;
  text-shadow: 2px 2px 3px black;
}

.menu-expanded #navigation .menu .social-links {
  display: flex;
  gap: 1rem;
}

.menu-expanded #navigation .menu .social-links path {
  stroke: var(--text-color);
}

.menu-expanded #navigation .menu .social-links li {
  padding: 1rem 1rem 0.5rem 1rem;
}

.menu-expanded #navigation .connect-button {
  margin: 2rem 0 4rem;
  border: 1px solid var(--black-text);
  cursor: pointer;

  transition: background 0.2s, color 0.8s;
}

.menu-expanded #navigation .connect-button:hover {
  background-color: var(--subtitle-color);
  color: var(--text-color);
}

/* -----------------Home--------------------- */
.home-background {
  position: relative;
}

.home-background::before {
  /* Imagem do background home */
  content: '';
  background-image: url(./assets/background.png);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  background-position: center;
  object-fit: contain;
}

.header-home h1 {
  padding-top: 3.5rem;
  font-size: 3.4rem;
  line-height: 130%;
  text-align: center;
}

.header-home h1 span {
  color: var(--color-logo);
}

.content-home > p {
  font-size: 1.8rem;
  line-height: 150%;
  padding-top: 4rem;
  position: relative;
  text-align: center;
}

.content-home .topArtists {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'A B';
  justify-items: center;
  align-items: center;
}

.content-home .topArtists-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.content-home .topArtists h2 {
  padding: 0;
  font-size: 4rem;
}

.content-home .topArtists img {
  grid-area: A;
}

.content-home .topArtists .topArtists-text {
  grid-area: B;
}

.col-c {
  display: none;
}
/* ------------- slider ------------ */
.content-home .container {
  width: 100%;
  display: flex;
  overflow: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.content-home .imgs {
  display: flex;
  width: 90%;
  flex: none;
  scroll-snap-align: start;
  pointer-events: none;
}

.content-home .imgs img {
  width: 100%;
  border: 1px solid var(--subtitle-color);
  border-radius: 0.4rem;
}

.stats {
  border: 1px solid var(--subtitle-color);
  border-radius: 0.8rem;

  padding: 4rem;
  text-align: center;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.stats h3 {
  font-size: 5rem;
}

.stats p {
  font-size: 1.8rem;
}

.stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  text-align: center;
}

.text span {
  color: var(--color-logo);
  font-weight: bold;
}

.text a {
  padding-top: 3rem;
  color: var(--text-color);
  display: inline-block;
}

.text:nth-child(1) a {
  display: flex;
  margin-left: 2rem;
  justify-content: flex-start;
}

.text:nth-child(2) a {
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
}

.text:nth-child(2) p {
  margin-top: 5rem;
}

.home-section::before {
  content: '';
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;

  transform: translateY(40rem);
  background-image: url(./assets/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-section {
  padding-bottom: 10rem;
}

#popular-week {
  padding-top: 6rem;
}

#popular-week h2 span {
  color: var(--color-logo);
}

/* ------------- slider astronauts --------- */
.content-popular-week {
  display: flex;
  overflow-x: auto;
  padding-top: 2rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.content-popular-week .container-popular-week {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex: none;
  pointer-events: none;
}

.content-popular-week .container-popular-week .content-astronaut {
  border-radius: 0.8rem;
  border: 1px solid var(--subtitle-color);
  width: 90%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.content-popular-week .header-astronaut {
  padding: 2.5rem;
}

/* Header dos populares da semanas - astronauts  */
.content-popular-week .header-astronaut span:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}

.content-popular-week .header-astronaut span:nth-child(2) {
  display: flex;
  justify-content: space-between;
  color: var(--subtitle-color);
  font-weight: 700;
}

.content-popular-week .header-astronaut span:nth-child(2) p:nth-child(2) {
  /* Valor cripto */
  color: var(--color-logo);
}

/* ------------best artists ----------- */
#best-artists .content-best-artists ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#best-artists h2 {
  padding: 0;
}

#best-artists h2 span {
  color: var(--color-logo);
}

#best-artists p {
  font-size: 1.8rem;
  font-weight: 500;
}

#best-artists section a {
  color: var(--text-color);
  font-size: 1.8rem;
  text-decoration: none;
  padding-top: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#best-artists ul li:nth-child(1) .artist {
  margin-top: 3rem;
  background-color: var(--color-logo);
}

#best-artists ul li:nth-child(1) .artist p:nth-child(2) {
  color: var(--text-color);
}

#best-artists ul li .artist {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background: var(--card-color);
  display: flex;
  justify-content: space-around;
}

#best-artists ul li .artist div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
}

#best-artists ul li .artist p:nth-child(2) {
  color: var(--color-logo);
}

/* ---------footer ------------- */
footer {
  margin-top: 8rem;
  background: var(--card-color);
}

.button-to-top {
  background: var(--color-logo);
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 0.8rem;
}

.header-footer {
  padding: 6rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p:nth-last-child(4) {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

footer span {
  color: var(--color-logo);
  font-weight: 700;
}

footer label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 6rem;
}

footer input {
  border: 1px solid var(--subtitle-color);
  border-radius: 0.3rem 0 0 0.3rem;

  padding: 2rem;
  width: 100%;
  height: 5rem;

  background: var(--black-text);
  color: var(--text-color);
}

footer input:focus {
  border: 1px solid var(--color-logo);
  outline: none;
}

footer label button {
  border: none;
  height: 5rem;
  padding: 2rem;
  border-radius: 0 0.3rem 0.3rem 0;

  font-size: 1.6rem;
  background: var(--text-color);
  color: var(--black-text);
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer hr {
  position: absolute;
  width: 100%;
  left: 0;
  border: 1px solid var(--subtitle-color);
}

footer .social-links {
  display: flex;
  padding: 6rem 0 1rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

footer .site-address {
  color: var(--subtitle-color);
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

@media (min-width: 1024px) {
  body .wrapper {
    width: min(112rem, 100%);
    padding-inline: 3rem;
  }

  /* ------------navigation--------------- */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
    overflow: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu li ion-icon {
    display: none;
  }

  nav#navigation .content-navigation {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.85;
  }

  nav#navigation .menu ul:nth-child(1) {
    /* Especificando o primeiro ul, para não pagar o social links */
    display: flex;
    gap: 2rem;
  }

  nav#navigation .menu li a {
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.5s;
  }

  nav#navigation .menu li a:hover {
    opacity: 1;
  }

  nav#navigation .connect-button {
    padding: 0.5rem 1.3rem;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    transition: background 0.5s, color 0.8s;
  }

  nav#navigation .connect-button:hover {
    background-color: var(--color-logo);
    color: var(--text-color);
    cursor: pointer;
  }

  .scroll-on nav#navigation .connect-button:hover {
    background-color: var(--subtitle-color);
  }

  nav#navigation .logo:hover path[fill='white'] {
    fill: var(--text-color);
  }

  .scroll-on nav#navigation .logo:hover path[fill='white'] {
    /* rocket */
    fill: var(--card-color);
  }

  .scroll-on #navigation .logo:hover path:nth-child(2)[fill='#FF5B50'] {
    /* nfts */
    fill: var(--subtitle-color);
  }

  nav#navigation .slider {
    display: block;
  }
  nav#navigation .content-navigation .slider {
    position: absolute;
    bottom: 2rem;
    background-color: var(--color-logo);
    height: 0.4rem;
    border-radius: 0.8rem;
    width: 0rem;
    transition: 0.5s;
  }

  .scroll-on nav#navigation .content-navigation .slider {
    background-color: var(--card-color);
  }

  /* ----------------Home----------- */
  body #home .container-grid {
    padding-top: 6rem;

    display: grid;
    grid-template-areas:
      'A B C'
      'D D D';
    grid-template-columns: 0.8fr 1.2fr 0.4fr;
    gap: 3rem;
  }

  body #home .col-a {
    /* colum text*/
    grid-area: A;
  }

  body #home .col-a .content-home p {
    text-align: left;
    padding: 0;
    font-size: 1.6rem;
  }

  body #home .col-a .content-home h2 {
    font-size: 2rem;
  }

  body #home .topArtists .topArtists-text {
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  body #home .col-b {
    /* header */
    grid-area: B;
    display: flex;
  }

  body #home .col-b h1 {
    font-size: 4rem;
    padding: 0;
  }

  body #home .col-b .header-home h1 {
    text-align: start;
  }

  body #home .col-c {
    /* badage */
    grid-area: C;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body #home .content-home:nth-child(4) {
    /* sliders */
    padding-top: 6rem;
    grid-area: D;
  }

  body #home .connect-button {
    display: none;
  }

  /* slider------ */
  body #home .content-home .container {
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  body #home .container .imgs {
    width: 23%;
  }

  body #home .container .imgs:nth-child(1),
  body #home .container .imgs:nth-child(2),
  body #home .container .imgs:nth-child(3),
  body #home .container .imgs:nth-child(4) {
    padding-bottom: 1.5rem;
  }

  body #home .container-grid-stats {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      'A B B'
      'A C C';

    align-items: center;
  }

  body #home .container-grid-stats::before {
    content: '';
    position: absolute;
    width: 100vw;
    left: -17%;
    height: 1px;
    bottom: -1px;
    background: var(--subtitle-color);
  }

  body #home .container-grid-stats * {
    /* zerando as propiedades dos elementos do grid */
    margin: 0;
    padding: 0;
  }

  body #home .stats-colum-left {
    /* stats */
    grid-area: A;
  }

  body #home .stats {
    border-radius: 0px;
    border: none;
    border-right: 1px solid var(--subtitle-color);

    padding: 13.5rem 2rem 13.5rem 0;
  }

  body #home .text-row-up {
    /* text */
    grid-area: B;
  }

  body #home .home-section {
    display: flex;
    padding-inline: 5rem;
    padding-top: 4rem;
    gap: 10rem;
  }

  body #home .home-section p {
    text-align: left;
  }

  body #home .home-section a {
    padding-top: 6.3rem;
  }

  body #home .home-section::before {
    display: none;
  }

  body #home .image-banner {
    grid-area: C;
    position: relative;
    height: 24rem;
  }

  body #home .image-banner::before {
    /* banner */
    position: absolute;
    content: '';
    left: 0.1rem;
    bottom: 0.1rem;
    width: 100vw;
    height: 100%;
    background-image: url(./assets/banner.png);
    background-position-x: -15rem;
    background-repeat: no-repeat;
  }

  /* ------------Popular-week------- */
  body #popular-week {
    padding-top: 15rem;
  }

  body #popular-week h2 {
    font-size: 4rem;
    padding: 0;
    margin-bottom: 8rem;
  }

  body #popular-week section {
    padding: 0;
  }

  body #popular-week .container-popular-week {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-between;
    overflow: hidden;
  }

  body #popular-week .content-astronaut {
    max-width: 40rem;
  }

  body #popular-week .content-astronaut:nth-child(1)::before {
    content: '';
    width: 1px;
    height: 100%;
    background: var(--subtitle-color);
    position: absolute;
    left: 50%;
  }

  /* -----best-artists------- */
  body #best-artists {
    padding-top: 15rem;
  }

  body #best-artists section {
    padding: 0;
  }

  body #best-artists h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 8rem;
  }

  body #best-artists .content-best-artists ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  body #best-artists .content-best-artists li {
    width: 30%;
  }

  body #best-artists .content-best-artists li:nth-child(1),
  body #best-artists .content-best-artists li:nth-child(2),
  body #best-artists .content-best-artists li:nth-child(3) {
    margin-bottom: 4rem;
  }
}

@media (min-width: 650px) {
  /* Expandindo meu .wrapper para melhorar resoluções em tablets  */
  .wrapper {
    /* Usado no header e nav */
    width: min(76.8rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
    position: relative;
  }

  .content-home .imgs {
    /* Primeiro slider */
    width: min(50rem, 90%);
  }

  .content-home .container {
    gap: 4rem;
  }

  .content-popular-week .container-popular-week {
    gap: 4rem;
  }

  #best-artists h2 {
    margin-bottom: 2rem;
  }

  #best-artists ul li:nth-child(1) .artist {
    margin: 0;
  }

  #best-artists .content-best-artists ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  .home-section::before {
    transform: translateY(35rem);
  }
}

/* Correção width  */
@media (max-width: 460px) {
  .home-section::before {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;

    transform: translateY(45rem);
    background-image: url(./assets/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 373px) {
  .home-section::before {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;

    transform: translateY(50rem);
    background-image: url(./assets/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 330px) {
  .home-section::before {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;

    transform: translateY(55rem);
    background-image: url(./assets/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Correção height */
@media (min-height: 700px) {
  .menu-expanded #navigation .menu {
    padding-top: 2rem;
  }
}

@media (min-height: 750px) {
  .menu-expanded #navigation .menu {
    padding-top: 10rem;
  }
}
